---
import { config } from "../utils/config";

interface Props {
    title?: string;
    author?: string;
    description?: string; 
};

const { title, author, description } = Astro.props;

const pageTitle = title ? `${title} | ${config.site.site.name}` : config.site.site.name;
const pageAuthor = author ? author : "iGEM TokyoTech";
---
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {config.site.site.favicon && <link rel="icon" href={config.site.site.favicon} type="image/x-icon" />}
    <title>{pageTitle}</title>
    <meta name="author" content={pageAuthor} />
    {description 
    && 
    <meta 
        name="description"
        content={description} />
    <meta
        name="og:description"
        content={description} />
    <meta
        name="twitter:description"
        content={description} />
    }
    <meta property="og:title" content={pageTitle} />
    {config.site.site.logo 
    &&
    <meta
        property="og:image"
        content={config.site.site.logo}
    />
    <meta
        name="twitter:image"
        content={config.site.site.logo} />
    }
    {config.site.site.url
    &&
    <meta property="og:url" content={config.site.site.url + "/"} />
    }
    <meta property="og:type" content="website" />
    {config.site.site.name
    &&
    <meta property="og:site_name" content={config.site.site.name} />
    }
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@igem_tokyotech" />
    <meta name="twitter:creator" content="@igem_tokyotech" />
</head>

